body {
    font-family: sans-serif;
    background-color: #777;
    color: #003a3a;
}

footer {
    clear: both;
}

app-entry { /* move to entry.component.css */
    display: block;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
}

.actions {
    padding: 1em 0;
}

app-entry-like {
  margin-right: 1em;
}
h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    text-transform: capitalize;
}

button {
    background-color: transparent;
    border-width: 0;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
}

button:focus {
    outline: transparent auto 0; /* remove blue halo */
}

.liked {
    color: #00aaff;
}

figure {
    overflow: hidden;
    position: relative;
    margin: 0;
}

figcaption {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.2em;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

img {
    display: block;
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.comments.hidden {
    max-height: 0;
}

.comments {
    overflow: hidden;
    max-height: 1000px;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.comment {
    padding: .5em 1em;
    background-color: #eee;
}

.comment.odd {
    background-color: #ccc;
}
app-entry-comment-form form {
  margin-top: 2em;
}
app-entry-comment-form div {
    padding: .5em 0;
}

label {
    display: block;
}

app-entry-comment-form button {
    background-color: #003f3f;
    color: #fff;
    padding: .5em .75em;
}

app-entry-comment-form textarea {
    width: 100%;
    box-sizing: border-box;
    height: 200px;
}

.alert {
    background-color: #cdcdcd;
    color: #000;
}

.alert.alert-danger {
    background-color: #9a0000;
    color: #fff;
}

.form-style{
	padding: 10px 20px;
	background: #f4f7f8;
	padding: 20px;
	background: #f4f7f8;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.form-style fieldset{
	border: none;
}
.form-style legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style label {
	display: block;
	margin-bottom: 8px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select {
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#31526a;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus{
	background: #d2d9dd;
}
.form-style select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style input[type="submit"],
.form-style input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover
{
	background: #109177;
}